<div class="container blue">
  <div id="root-container">
    <div id="project-meta">
      <h1 id="title">What is Zuse?</h1>
      
      <div id="description">
        <p>
          Zuse is a delightful, fun to use iOS app that teaches you how to program through making games.
        </p>
        <p>
          While the first projects you make will likely be on par with Pong or Breakout, before you know it
          you will be able to program more complex games like Galaga here on the right.
        </p>
        <p>
          And Zuse allows you to share the games you make with your friends through ZuseHub, Facebook, and Twitter.
        </p>
        <p>
          We can't wait to see what you come up with!
        </p>
      </div>
    </div>

    <div id="canvas-container">
      <canvas id="viewport"></canvas>
      <div id="canvas-controls">
        <div id="play-panel">
          <span id="refresh" title="start" class="icon ion-refresh"></span>
        </div>
      </div>
    </div>
    
  </div>
</div>
