
<div id="container">
  <div class="project_meta">
    <h1 id="title"><%= @shared_project.title %></h1>
    <p id="description"><%= @shared_project.description %></h1>
  </div>

  <canvas id="viewport"></canvas>
</div>
