// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project-container
{
  width: 660px;
  margin: 0px auto;
  margin-top: 20px;

  #project-meta
  {
    width: 320px;
    float: left;

    #title
    {
      margin: 0px;
      color: #A46026;
      font-weight: 600;
    }

    #description
    {
      color: #B87C44;
    }
  }

  #viewport
  {
    box-shadow: 0px 0px 40px 0px #A46026;
  }

  .icon
  {
    color: #A46026;
  }

  .icon:hover
  {
    text-shadow: 0px 0px 20px #A46026;
  }

}

