// Place all the styles related to the SharedProjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#shared-project-container
{
  width: 660px;
  margin: 0px auto;
  margin-top: 20px;
  height: 100%;

  #project-meta
  {
    width: 320px;
    float: left;

    #title
    {
      margin: 0px;
      color: #616632;
      font-weight: 600;
    }

    #description
    {
      color: #878f45;
    }

    
  }

  #viewport
  {
    box-shadow: 0px 0px 40px 0px #616632;
  }

  .icon
  {
    color: #616632;
  }

  .icon:hover
  {
    text-shadow: 0px 0px 20px #616632;
  }

}

#root-container
{
  width: 860px;
  margin: 0px auto;
  margin-top: 20px;
  height: 100%;

  #project-meta
  {
    width: 320px;
    float: left;

    #title
    {
      margin: 0px;
      color: #234A60;
      font-weight: 600;
    }

    #description p
    {
      color: #2F6787;
      font-size: 14pt;
    }

    
  }

  #viewport
  {
    box-shadow: 0px 0px 40px 0px #234A60;
  }

  .icon
  {
    color: #234A60;
  }

  .icon:hover
  {
    text-shadow: 0px 0px 20px #234A60;
  }

}

